<%= render "karutes/header"%>
<div class="menu-body">
  <div class="menu-top">
    メニュー
    <div class="sub">
    ※クリックすると詳細が確認できます
    </div>
  </div>


  <div class="menu">
    <div class="menu1">
      <div class="menu_title", id="menu_btn1" >
      クイックコース
      （施術時間３０分）
      </div>
      <ul class="pull-down-list hidden", id="menu1">
        <li>整体３０分</li>
        <li>¥2,000</li>
        <li>施術時間が３０分のみのショートコースです。ちょっとした、隙間時間に気軽に施術を受けられます。</li>
      </ul>  
    </div>
    <div class="menu2">
      <div class="menu_title", id="menu_btn2" >
        スタンダードコース
        （施術時間６０分）
      </div>  
      <ul class="pull-down-list hidden", id="menu2">
        <li>整体６０分</li>
        <li>¥4,000</li>
        <li>１時間でも十分効果を感じていただけます。整体施術で体のコリをほぐし、体調を整えましょう。</li>
      </ul>  
    </div>

    <div class="menu3">
      <div class="menu_title", id="menu_btn3" >
        リンパコース
        （施術時間６０分）
      </div>  
      <ul class="pull-down-list hidden", id="menu3">
        <li>リンパセラピー６０分</li>
        <li>¥5,000</li>
        <li>１時間のリンパセラピーの施術です。リンパの詰まりを取り除き、老廃物をしっかりと流していきます。</li>
      </ul>
    </div>

    <div class="menu4">
      <div class="menu_title", id="menu_btn4" >
        整体+プチリンパコース
        （施術時間９０分）
      </div>  
      <ul class="pull-down-list hidden", id="menu4">
        <li>整体６０分+リンパセラピー３０分</li>
        <li>¥6,000</li>
        <li>１時間の整体で、コリをほぐし、さらにリンパセラピーで老廃物をしっかりと流していきます。</li>
      </ul>
    </div>

    <div class="menu5">
      <div class="menu_title", id="menu_btn5" >
        全身スペシャルコース
        （施術時間１２０分）
      </div>  
      <ul class="pull-down-list hidden", id="menu5">
        <li>整体６０分+リンパセラピー6０分</li>
        <li>¥7,000</li>
        <li>一番おすすめのコースです。整体とリンパセラピーの２つの施術の相乗効果で全身すっきりしましょう。</li>
      </ul>
    </div>

    <div class="menu6">
      <div class="menu_title", id="menu_btn6" >
        リンパスペシャルコース
        （施術時間１２０分）
      </div>  
      <ul class="pull-down-list hidden", id="menu6">
        <li>リンパセラピー１２０分</li>
        <li>¥8,000</li>
        <li>２時間しっかりとリンパセラピーの施術をさせていただきます。１時間の施術では物足りな方におすすめです。</li>
      </ul>
    </div>

    <div class="menu7">
      <div class="menu_title", id="menu_btn7" >
        ３時間特別VIPコース
        （施術時間１８０分）
      </div>  
      <ul class="pull-down-list hidden", id="menu7">
        <li>整体６０分+リンパセラピー１２０分</li>
        <li>¥12,000</li>
        <li>お客様のご要望から誕生したコースです。必ずご予約の上御来店ください。</li>
      </ul>    
    </div>

    <div class="menu8">
      <div class="menu_title", id="menu_btn8" >
        ダイエット整体・美ボディコース
        （施術時間６０分）
      </div>  
      <ul class="pull-down-list hidden", id="menu8">
        <li>整体・腸もみ・耳つぼ・リンパセラピーなど６０分</li>
        <li>¥7,000</li>
        <li>お客様一人一人に合わせて、様々な施術でアプローチ！健康的なボディを作りましょう。</li>
      </ul>  
    </div>

    <div class="menu9">
      <div class="menu_title", id="menu_btn9" >
        学生専用コース
        （施術時間３０分）
      </div>  
      <ul class="pull-down-list hidden", id="menu9">
        <li>整体３０分</li>
        <li>¥1,500</li>
        <li>高校生以下のお客様限定のコースです。スポーツをされている学生さんや、便秘に悩む学生さんなど、気軽に施術を受けられます。</li>
      </ul> 
    </div>

    <div class="menu10">
      <div class="menu_title", id="menu_btn10" >
        冬季限定　温活コース
        （施術時間９０分）
      </div>  
      <ul class="pull-down-list hidden", id="menu10">
        <li>整体３０分+フットバス１５分+リンパマッサージ45分</li>
        <li>¥7,000</li>
        <li>フットバスには老廃物を排出し、発汗作用のあるヒマラヤ岩塩&アロマオイルを使用します。マッサージオイルも体温を上げる効果のある数種類のオーガニックアロマオイルを使用しています。しっかりと基礎体温をあげていきましょう！</li>
      </ul> 
    </div>
  </div> 

  <%# <div class="s_nagare">
    <h2 class="s_nagare_t">施術の流れ</h2>

  </div> %>

  <div class="tell">
    <h3 title="tell_coment">ご予約<p class="tell_number">089-904-7180</p><p>※非通知は繋がりません</p></h3>
      <%# <span class='purchase-btn-text'>要予約: 089-904-7180</span>
      <p><span class='purchase-btn-text2'>※ 非通知は繋がりません</span></p> %>
      <%# <%= image_tag 'tell.png', size: '250x105', class: "tell-btn-icon" %> 
  </div>    

</div>