<%= render "karutes/header"%>

<div class="blog_link">
  <div class="insta">
    <%= link_to image_tag('insta.png'), 'https://www.instagram.com/amollir_tamarin/' %>
  </div>
  <div class="fb">
    <%= link_to image_tag('FB.png'), 'https://www.facebook.com/tamami.kikuchi.900' %>
  </div>
  <div class="ameba">
    <%= link_to image_tag('blog.png'), 'https://ameblo.jp/amollir-tama/' %>
  </div>  
</div>