<div class='top-page-fotter'>
  <h2 class="fotter_title">
    <i class="far fa-lightbulb"></i>
    <span>
      <p>ボディーバランスケア Amollir -あもりーる-</p>
      <p>営業時間</p>
      <p>午前９時～午後７時（最終受付）</p>
      <p>年末年始休業</p>
      <p>毎週土曜日は宇和店のため松山店休業</p>
    </span>
  </h2>
  <div class="admin_b">
    <%= link_to '（仮）管理者', new_user_session_path, class: "admin-list" %>
  </div> 

  
</div>