.top-page-header{
  /* background-color: #F5F5DC; */
  height: 150px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.amollir_logo{
  height: 150px;
  width: 300px;
}  

.header_list{
  display: flex;
  justify-content: space-around;
  list-style: none;
  min-width: 200px;
}

/* .menu_list{ 
  font-size: 20px;
  margin-right: 20px;
} */



h1:after {
  margin-top: 10px;
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, #FFFF77, rgb(212, 198, 71, 0.897) );
  background: linear-gradient(to right, #FFFF77, rgb(212, 198, 71, 0.897) );
}

ul.header_list{
  counter-reset:list;
  list-style-type:none;
  font: 20px/1.6 'arial narrow', sans-serif;
  padding:0;
}

ul.header_list,ul.header_list a{
  text-decoration: none;
  position:relative;
  color: #339933;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  padding: 0 0 0 23px;
  margin: 7px 0px;
  line-height: 30px;
  /* border-bottom: dashed 1px #ccc; */
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  margin-right: 20px;
}
ul.header_list li:before{
  counter-increment: list;
  /* content: counter(list) "."; */
  text-decoration: none;

  display: block;
  position: absolute;
  left: 0px;
  font-weight: bold;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
ul.header_list li:hover,
ul.header_list li:hover:before{
  font-size: 30px;
  color: #CCCC99;
}

.admin-s{
  text-align: right;
  padding-right: 20px;
  margin-bottom: 30px;
}

.admin-list{
  color: rgb(163, 163, 163);
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}