<%= render "karutes/header"%>
<div class="access_top">
      アクセス
</div>

<div class="accses_syousai">
  <div class="access_comment">

    <div class="shop_address">
      <h4 class="accsses_title">AMMOLLIR
      <span class="head_test-point">あもりーる</span>
      </h4>
      <p class="a_comment1">所在地：愛媛県松山市枝松5丁目5－15</p>
      <p class="a_comment1">予約電話番号：089-904-7180</p>
      <p class="a_comment">非通知は繋がりません<p>
      <p class="a_comment">御来店の際は予約（当日のご予約は午後５時まで）をお願いいたします</p>
      <p class="a_comment">営業時間：午前９時〜午後７時（最終受付）</p>
      <p class="a_comment">定休日：年中無休（※年末年始を覗く）</p>
      <p class="a_comment">※毎週土曜日は宇和店営業のため松山店休業</p>
    </div>
  </div> 
  <div class="shop_map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3314.354081436286!2d132.78213981520906!3d33.8289781806672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x354fe5fda30b1e13%3A0x1d7b8b8ae2f72722!2z44CSNzkwLTA5NjIg5oSb5aqb55yM5p2-5bGx5biC5p6d5p2-77yV5LiB55uu77yV4oiS77yR77yV!5e0!3m2!1sja!2sjp!4v1611805046204!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>

  <div class="shop_map_coment">
    <div class="a_coment2">
      <p class="a_comment">駐車場（１台分）ありますので、お車でもお越しいただけます<p>
      <p class="a_comment">伊予鉄道福音寺駅から徒歩１５分</p>
      <p class="a_comment">伊予鉄橘駅前バス停から徒歩１８分</p>
    </div>  
  </div>
  <div class="tell">
    <h3 title="tell_coment">ご予約<p class="tell_number">089-904-7180</p><p>※非通知は繋がりません</p></h3>
      <%# <span class='purchase-btn-text'>要予約: 089-904-7180</span>
      <p><span class='purchase-btn-text2'>※ 非通知は繋がりません</span></p> %>
      <%# <%= image_tag 'tell.png', size: '250x105', class: "tell-btn-icon" %> 
  </div> 


</div>