.top_back_btn{
  text-align: center;
}

.new_karute_btn{
  text-align: center;
}

.edit_karute_btn{
  text-align: center;
}

.user_karute_body{
  width: 80%;
  border: 5px solid #EDFFBE;
  margin: auto;
  padding: 20px 0 20px;
}

.page-heading{
  margin-top: 20px;
  text-align: center;
}

.date{
  text-align: center;
  width: 60%;
  margin: 10px auto 0;
  border: 2px solid #EDFFBE;
}

.name{
  text-align: center;
  width: 60%;
  margin: 10px auto 0;
  border: 2px solid #EDFFBE;
}

.kana{
  font-size: 12px;
}

.birth{
  text-align: center;
  width: 60%;
  margin: 10px auto 0;
  border: 2px solid #EDFFBE;
}

.address_space{
  text-align: center;
  width: 60%;
  margin: 10px auto 0;
  border: 2px solid #EDFFBE;
}
.postal_code{
  text-align: center;
  font-size: 12px;
}

.address{
  text-align: center;
}

.phone_number{
  text-align: center;
  width: 60%;
  margin: 10px auto 0;
  border: 2px solid #EDFFBE;
}

.user_karute{
  width: 60%;
  margin: 10px auto;
  border: 2px solid #EDFFBE;
}

.pain{
  text-align: center;
}

.illness{
  text-align: center;
  margin-top: 10px;
}

.history{
  text-align: center;
  margin-top: 10px;
}

.medicine{
  text-align: center;
  margin-top: 10px;
}

.habit{
  text-align: center;
  margin-top: 10px;
}

.memo{
  text-align: center;
  margin-top: 10px;
}